In [1]:
x = {1,2,3,41,23,123,123,1,31,23}
print(x)

{1, 2, 3, 23, 41, 123, 31}

In [2]:
x3 = {i ** 3 for i in x}
print(x,x3)

{1, 2, 3, 23, 41, 123, 31} {1, 1860867, 12167, 8, 68921, 27, 29791}

In [4]:
rainfall = {
    '2001':350,
    '2002':420,
    '2003':510,
    '2004':600,
    '2005':700,
}

In [11]:
rainfall_norm = {i[0]:i[1]/700 for i in rainfall.items()}

In [12]:
rainfall_norm

{'2001': 0.5,
 '2002': 0.6,
 '2003': 0.7285714285714285,
 '2004': 0.8571428571428571,
 '2005': 1.0}

**wap to create a program that takes a list of numbers and then generate a list of all even nums and odd nums seperated using comprehension**

In [3]:
name = "Jason Bourne"
fname = name.split()[0]
lname = name.split()[-1]
print(fname,lname)

Jason Bourne

In [8]:
contacts = ['Mason Mamoa','Jason Derulo','Jason Bourne','Jason Voorhees']
sn = [f"{name.split()[0][0]}{name.split()[-1][0]}" for name in contacts]
print(sn)

['MM', 'JD', 'JB', 'JV']