- List 
    - sequential (ordered )
    - mixed datatype (heterogeneous)
    - can be empty
    - can have duplicates
    - is mutable (we can add or remove elements)
    - represeted as `[]` in python
    - `list` function creates a list

what u are going to learn
- creation
- indexing and slicing
- methods
- comprehension

In [16]:
a = [] # empty

In [17]:
b = [23,34,12,56,78]  # numeric
c = ['Alex','Ana','Billy'] # string
d = ['Alex',300,'Ana',320,'Billy',230] # mixed
e = [ [1,2,3], [2,3,4], [4,5,6] ] # nested list (list within a list)
f = [1] * 10 # duplicated list

In [18]:
print(b)
print(c)
print(d)
print(e)
print(f)

[23, 34, 12, 56, 78]
['Alex', 'Ana', 'Billy']
['Alex', 300, 'Ana', 320, 'Billy', 230]
[[1, 2, 3], [2, 3, 4], [4, 5, 6]]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [19]:
for i in d:
    print(i, end=' ')

Alex 300 Ana 320 Billy 230

In [20]:
word = 'wikipedia'
charlist = list(word)
print(charlist)

['w', 'i', 'k', 'i', 'p', 'e', 'd', 'i', 'a']

In [21]:
charlist[0]

'w'

In [22]:
charlist[-1]

'a'

In [23]:
charlist[:4]

['w', 'i', 'k', 'i']

In [24]:
charlist[4:]

['p', 'e', 'd', 'i', 'a']

In [25]:
charlist[::-1]

['a', 'i', 'd', 'e', 'p', 'i', 'k', 'i', 'w']

In [26]:
charlist.reverse()

list has 11 methods
- adding items
    - append()
    - insert()
    - extend()
- removing items
    - remove()
    - pop()
    - clear()
- utility
    - reverse()
    - count()
    - index()
    - copy()
    - sort()

In [27]:
numbers = []
numbers.append(2)
numbers.append(3)
numbers.append(5)
print(numbers)

[2, 3, 5]

In [28]:
for i in range(5):
    v = int(input("enter a number:"))
    numbers.append(v)
    print(numbers)

[2, 3, 5, 45]
[2, 3, 5, 45, 2]
[2, 3, 5, 45, 2, 3]
[2, 3, 5, 45, 2, 3, 3]
[2, 3, 5, 45, 2, 3, 3, 56]

In [29]:
print(numbers)

[2, 3, 5, 45, 2, 3, 3, 56]

In [30]:
numbers.remove(45)

In [31]:
print(numbers)

[2, 3, 5, 2, 3, 3, 56]

In [32]:
numbers

[2, 3, 5, 2, 3, 3, 56]

In [33]:
numbers.insert(2, 4)
print(numbers)

[2, 3, 4, 5, 2, 3, 3, 56]

In [34]:
numbers.insert(23,31) # insert at index 23 will put the data at the end of list, as we dont have index 23 in list

In [35]:
numbers.pop(3) # remove the data at index 3

5

In [36]:
print(numbers)

[2, 3, 4, 2, 3, 3, 56, 31]

In [37]:
numbers.pop() # removes the last item

31

In [38]:
print(numbers)

[2, 3, 4, 2, 3, 3, 56]

In [39]:
numbers.clear()
print(numbers)

[]

In [40]:
x = [1,2,3]
y = [2,3,5]
# merge a list into another
x.extend(y)
print(x)
print(y)
x.append(y)
print(x)

[1, 2, 3, 2, 3, 5]
[2, 3, 5]
[1, 2, 3, 2, 3, 5, [2, 3, 5]]

In [41]:
z = x  + y
print(z)

[1, 2, 3, 2, 3, 5, [2, 3, 5], 2, 3, 5]

In [42]:
numbers

[]

In [43]:
del a

In [44]:
del b[2] # this is not the best, use pop() instead

In [45]:
del d,e,f

In [46]:
del i, charlist, numbers, v, word, x, y

In [47]:
primes = []
for num in range(2, 1000):
    for i in range(2, num):
        if num % i == 0:
            break
        else:
            pass
    else:
        primes.append(num)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

### wap a program to calculate the total of a list, where the values are entered by user.

### wap to remove every 3rd item from a list

### wap to add every 3rd item from a list, and store the result at the end of list

In [48]:
x = []                                      # empty list
for i in range(5):                          # repeat 5 times
    inp = int(input('>enter value:'))       # take user input
    x.append(inp)                           # add user input to list
total = sum(x)                              # sum is predefined
print("total=>",total)

total=> 248

In [49]:
for i,v in enumerate(x):
    print(i, v)

0 34
1 34
2 123
3 34
4 23

In [50]:
a = [11,22,33,44,55,66,77,88,99,100]
ev3 = []
for i,v in enumerate(a):
    pos = i + 1
    if pos%3 == 0:
        ev3.append(v)
print(ev3)
for item in ev3:
    a.remove(item)
print(a)

[33, 66, 99]
[11, 22, 44, 55, 77, 88, 100]

In [51]:
x= [1,2,3,1,2,3,3,1,2,1,2,2,2,1,2,2,3,1,2,3,1,2,3,1,2,3,1,2,3,1,2,3]

In [52]:
x.count(3)

9

In [53]:
x.count(5)

0

In [54]:
names = ['Desmond','Alex','Samus','Jerry','Freddy','August']
names.index('Alex')

1

In [55]:
names.index('August')

5

In [56]:
names.reverse()
print(names)

['August', 'Freddy', 'Jerry', 'Samus', 'Alex', 'Desmond']

In [57]:
names.sort()
print(names)

['Alex', 'August', 'Desmond', 'Freddy', 'Jerry', 'Samus']

In [58]:
x.sort()
print(x)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [59]:
x.sort(reverse=True)
print(x)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [60]:
names.sort(reverse=True)
print(names)

['Samus', 'Jerry', 'Freddy', 'Desmond', 'August', 'Alex']

In [61]:
names

['Samus', 'Jerry', 'Freddy', 'Desmond', 'August', 'Alex']

In [62]:
backup = names # reference to the same list

In [63]:
backup_v2 = names.copy() # copy the list

In [64]:
names.remove('Samus')

In [65]:
backup_v2.append('Markus')

In [66]:
print(names)
print(backup)
print(backup_v2)

['Jerry', 'Freddy', 'Desmond', 'August', 'Alex']
['Jerry', 'Freddy', 'Desmond', 'August', 'Alex']
['Samus', 'Jerry', 'Freddy', 'Desmond', 'August', 'Alex', 'Markus']

In [67]:
backup_v2

['Samus', 'Jerry', 'Freddy', 'Desmond', 'August', 'Alex', 'Markus']

In [68]:
for idx, item in enumerate(backup_v2):
    print(idx, item)

0 Samus
1 Jerry
2 Freddy
3 Desmond
4 August
5 Alex
6 Markus

mutable vs immutable

In [1]:
quote = 'I am a very simple person'
names = ['Desmond','Alex','Samus']

In [2]:
quote[7] = 'W'  # this line will give error since strings are immutable

TypeError: 'str' object does not support item assignment

In [3]:
names[2] = 'Markus' # valid 
print(names)

['Desmond', 'Alex', 'Markus']

In [4]:
x = set()
for i in range(10):
    val = int(input('enter a number:'))
    x.add(val)
print(x)

{5, 45, 213, 23, 56, 123}